.footer{
    margin-top: 1rem;
    background-color: rgb(19, 19, 19);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color : white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}